*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Montserrat:ital,wght@0,400;0,700;1,700&family=Unica+One&display=swap');
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../Fonts/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2");
}
body {
  max-width: 1370px;
  margin: 0 auto;
  background-color: #150e28;
  padding-inline: 20px;
  overflow-x: hidden;
}
/* NAVBAR STARTS */
.nav-border{
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid rgba(255, 255, 255, 0.18)
}
.nav-container {
  margin: 30px 0 25px 0;
}
nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
nav .logo {
  flex: 1;
  grid-column: span 4;
}
.show-burger {
  display: none;
}

nav .logo h1 {
  color: #fff;
  line-height: 44.28px;
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
}
nav .logo h1 span {
  color: #d434fe;
}
.mobile-nav-show {
  grid-column: span 8;
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: flex-end;
}
nav .nav-links ul {
  display: flex;
}

nav .nav-links ul li a {
  color: #fff;
  padding-inline: 30px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
nav .nav-button a button {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

/* NAV MEDIA QUERY */




/* HERO-SECTION */
.hero-section{
  padding: 0 0 80px  0;
}
.hero-section-grid{
  margin: 90px auto;
  display: flex;
}
.right-text{
  text-align: right;
  margin-top: 50px;
}
.relative-right-text{
  position: relative;
}
.vector-1{
  position: absolute;
  width: 245px;
  right: 0px;
}
.right-text h2{
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.hero-section-text h1{
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 78px;
  line-height: 98.4px;
  color: #fff;
  position: relative;
}
.relative-bulb{
  position: relative;
}
.creative{
  position: absolute;
  right: 50px;
  top: -50px;
}
.light-up{
  position: absolute;
  top: -60px;
}
.light-up-img{
  width: 756px ;
  filter: brightness(45%) contrast(80%);
}
.relative-chain{
  position: relative;
}
 .chain-spark{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  right: -150px;
}
.chain{
  width: 70px;
  height: 70px;
}
.spark{
  width: 58px;
  height: 58px;
}
.vector-2{
  width: 53px;
  height: 73px;
}

.hero-section-text p{
  position: relative;
    z-index: 99;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 33.2px;
  font-weight: 400;
  color: #fff;
  max-width: 520px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.hero-section-text a button{
  position: relative;
    z-index: 99;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.count-down-text{
  display: flex;
  gap: 35px;
  margin-top: 50px;
}
.count-down-text div{
  display: flex;
  align-items: end;
}
.count-down-text div h3{
  font-family: 'Unica One', cursive;
  font-size: 64px;
  color: white;
  
}
.count-down-text span{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.hero-section-img{
  width: 100%;
  max-width: 100%;
  position: relative;
}

.hero-section-img .main-img{
  width: 778px;
  filter: grayscale(80%);
  height: 200px;
  position: absolute;
  right: -50px;
  top: -40px;
  z-index: -1;

}
.mobile-hero-section-img{
  display: none;
}

.metrix-abs-1{
  position: absolute;
  top: -65px;
  left: 30px;
  width: 667px;
  z-index: 99;
}



.metrix-abs-2 img{
  position: absolute;
  top: -200px;
  left: 230px;
  width: 951px;
  height: 994px;
  height: 600px;
  z-index: 99;
  height: 641px;
  filter: brightness(0.7) contrast(5); 
  z-index: -1;
}
/* HERO-SECTION ENDS */
/* INTRODUCTION SECTION STARTS */
.introduction-section{
  padding: 100px 0 100px 0;
}
.introduction-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.introduction-img{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction-text{
  flex-basis: 50%;
}
.introduction-text h1{
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
  max-width: 500px;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.introduction-text h1 span{
  color: #d434fe;
}
.introduction-img img{
  width: 490px;
  height: 477px;
}
.introduction-text p{
  max-width: 500px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 27.5px;
}

/* RULES SECTION */

.rules-section{
  /* padding: 100px 0 100px 0; */
}
.rules-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.rules-img{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rules-img img{
  width: 664px;
  height: 664px;
}
.rules-text{
  flex-basis: 50%;
}
.rules-text h1{
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
  max-width: 500px;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.rules-text h1 span{
  color: #d434fe;
}
.rules-img img{
  width: 664px;
  height: 664px;
  object-fit: cover;
}
.rules-text p{
  max-width: 500px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 27.5px;
}

/* CRITERIA-SECTION */
.criteria-section{
  padding: 100px 0 100px 0;
}
.criteria-flex{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;

}
.criteria-img{
  flex-basis: 50%;
  object-fit: contain;
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.criteria-img img{
  object-fit: contain;
}
.criteria-text{
  flex-basis: 50%;
  align-items: flex-start;
}
.criteria-heading h1{
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
  max-width: 300px;
  text-transform: capitalize;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.criteria-heading h1 span{
  color: #d434fe;
}

.criteria-text-body{
  margin-top: 20px;
}
.criteria-text-body ul li{
  max-width: 600px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24.29px;
  margin-bottom: 30px;
}
.criteria-text-body ul li span{
  color: #d434fe;
  font-weight: 700;
  font-size: 16px;
}
.criteria-text-body a button{
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 60px;
}

@media only screen and (max-width: 1260px) {
  .nav-container {
    padding-inline: 40px;
    margin: 26px 0 21px 0;
    position: relative;
    z-index: 999;
    
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  nav .logo h1 {
    font-size: 17px;
    line-height: 18.45px;
    font-weight: 700;
  }
  .mobile-nav-show {
    display: none;
    align-items: normal;
  }
  .show-burger {
    display: flex;
    width: 19px;
    height: 14px;
    cursor: pointer;
  }
  .mobile-nav-show {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    left: -1000px;
    transition: all 0,3s;
    top: 70px;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    background-color: #150e28;
    overflow-y: hidden;
  }
  nav .nav-links ul {
    flex-direction: column;
    padding-bottom: 30px;
    gap: 25px;
  }
  nav .nav-links ul li a{
    padding: 0;
  }
  .active{
    left: 0;
    transition: all ease-in-out 0.35s;
  }
  .right-text{
    position: relative;
    z-index: 99;
    text-align: center;
    font-size: 16px;
  
   
  }
  .hero-section{
    padding: 0 0 0 0;
  }
  .hero-section-grid{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    gap: 30px;
  }
  .hero-section-text h1{
    font-size: 32px;
    max-width: 400px;
    margin: 0 auto;
    line-height: 21.58px;
    line-height: 42.36px;
    text-align: center;
  }
  .hero-section-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .mobile-none{
    display: none;
  }
  .mobile-hero-section-img{
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .mobile-hero-section-img img{
  object-fit: contain;
  }
  .hero-section-text p{
    font-size: 13px;
   max-width: 260px;
   margin: 10px auto;
   line-height: 21.58px;
   margin-bottom: 25px;
   
  }
  .count-down-text{
    margin-top: 10px;
  }
  .creative{
    top: -20px;
    right: 0;
   
  }
  .vector-2{
    width: 18px;
    height: 26px;
    object-fit: cover;
  }
  .mobile-increase{
    font-size: 32px;
    align-items: center;
    display: flex;
    gap: 5px;

  }
  .relative-chain{
    display: flex;
    gap: 5px;
  }

  .light-up-img{
    z-index: -1;
  }
  .right-text h2{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;

  }
  .small-mobile-icons{
    width: 24.12px;
    height: 22.12px;
  }
  .chain-spark{
    position: static;
    right: -50px;
  }
  .center{
    border: 2px solid;
    align-items: center;
    font-size: 38px;
  }
  .introduction-flex{
    flex-wrap: wrap;
  }
  .introduction-section{
    padding: 50px 0 50px 0;
  }
  .introduction-img{
    flex-basis: 100%;
  }
  .introduction-text{
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introduction-text h1{
    max-width: 300px;
    font-size: 20px;
   
    line-height: 26.6px;
  }
  .introduction-flex{
    flex-wrap: wrap;
  }
  .introduction-img{
    flex-basis: 100%;
 
  }
  .introduction-text{
    flex-basis: 100%;
  }
  .introduction-img img{
    width: 264px;
    height: 257px;
    object-fit: cover;
  }

  .introduction-flex{
    flex-wrap: wrap;
  }
  .rules-section{
    padding: 50px 0 50px 0;
  }
  .rules-img img{
    width: 314px;
    height: 382px;
  }
  .rules-text{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .rules-flex{
    flex-wrap: wrap-reverse;
    gap: 0;
    margin: 0;
  }
  .rules-text h1{
    font-size: 20px;
    line-height: 26.6px;
    max-width: 100px;
  }
  .rules-img{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .rules-text{
    flex-basis: 100%;
  }
  .criteria-section{
    padding: 50px 0 50px 0;
  }
  .criteria-img img{
    width: 332px;
    height: 275px;
   
  }
  .criteria-text{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .criteria-flex{
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
  }
  .criteria-heading h1{
    font-size: 20px;
    line-height: 26.6px;
    max-width: 200px;
  }
  .criteria-img{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .criteria-text-body{
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .criteria-text-body ul li span{
    font-size: 13px;
  }
  .criteria-text-body ul li{
    font-size: 12px;
    line-height: 20.82px;
  }
  .rules-text{
    flex-basis: 100%;
  }
  .criteria-text-body a button{
    margin-top: 0;
  }
}