* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Unica+One&display=swap");
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../Fonts/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2");
}
body {
  margin: 0 auto;
  background-color: #150e28;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}
/* NAVBAR STARTS */
.nav-border {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav-container {
  max-width: 1350px;
  margin: 30px auto;
}
nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-inline: 20px;
  position: relative;
  z-index: 99999;
}
nav .logo {
  flex: 1;
  grid-column: span 4;
}
.show-burger {
  display: none;
}

nav .logo h1 {
  color: #fff;
  line-height: 44.28px;
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
}
nav .logo h1 span {
  color: #d434fe;
}
.mobile-nav-show {
  grid-column: span 8;
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: flex-end;
}
nav .nav-links ul {
  display: flex;
}

nav .nav-links ul li a {
  color: #fff;
  padding-inline: 30px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
nav .nav-button a button {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

/* NAV MEDIA QUERY */

/* HERO-SECTION */
.hero-section {
  padding: 0 0 80px 0;
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 20px;
}
.hero-section-grid {
  margin: 90px auto;
  display: flex;
}
.right-text {
  text-align: right;
  margin-top: 50px;
}
.relative-right-text {
  position: relative;
}
.vector-1 {
  position: absolute;
  width: 245px;
  right: 0px;
}
.right-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.hero-section-text h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 78px;
  line-height: 98.4px;
  color: #fff;
  position: relative;
}
.relative-bulb {
  position: relative;
}
.hero-section-text{
  position: relative;
}
.hero-white{
  position: absolute;
  width: 18px;
  height: 24px;
  top: -12%;
  left: 15%;
}
.hero-grey-1{
  position: absolute;
  width: 18px;
  height: 24px;
  bottom: 22%;
  right: 25%;
}
.hero-grey-2{
  position: absolute;
  width: 18px;
  height: 24px;
  top: -10%;
  right: -13%;
}
.creative {
  position: absolute;
  right: 50px;
  top: -50px;
}
.light-up {
  position: absolute;
  top: -60px;
}
.light-up-img {
  width: 756px;
  filter: brightness(45%) contrast(80%);
}
.relative-chain {
  position: relative;
}
.chain-spark {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  right: -150px;
}
.chain {
  width: 70px;
  height: 70px;
}
.spark {
  width: 58px;
  height: 58px;
}
.vector-2 {
  width: 53px;
  height: 73px;
}

.hero-section-text p {
  position: relative;
  z-index: 99;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 33.2px;
  font-weight: 400;
  color: #fff;
  max-width: 520px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.hero-section-text a button {
  position: relative;
  z-index: 99;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.count-down-text {
  display: flex;
  gap: 35px;
  margin-top: 50px;
}
.count-down-text div {
  display: flex;
  align-items: end;
}
.count-down-text div h3 {
  font-family: "Unica One", cursive;
  font-size: 64px;
  color: white;
}
.count-down-text span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.hero-section-img {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.hero-section-img .main-img {
  width: 778px;
  filter: grayscale(80%);
  height: 200px;
  position: absolute;
  right: -50px;
  top: -40px;
  z-index: -1;
}
.mobile-hero-section-img {
  display: none;
}

.metrix-abs-1 {
  position: absolute;
  top: -65px;
  left: 30px;
  width: 667px;
  z-index: 99;
}

.metrix-abs-2 img {
  position: absolute;
  top: -200px;
  left: 230px;
  width: 951px;
  height: 994px;
  height: 600px;
  z-index: 99;
  height: 641px;
  filter: brightness(0.7) contrast(5);
  z-index: -1;
}
/* HERO-SECTION ENDS */
/* INTRODUCTION SECTION STARTS */
.introduction-section {
  padding: 100px 0 100px 0;
  padding-inline: 20px;
}
.introduction-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.introduction-img {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction-pink-1 {
  position: absolute;
  left: 7%;
  top: 20%;
}

.introduction-text {
  flex-basis: 50%;
  position: relative;
}
.introduction-pink-2 {
  position: absolute;
  right: 15%;
  top: 15%;
  width: 1.4rem;
  height: 1.4rem;
}
.introduction-text h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
  max-width: 500px;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.introduction-text h1 span {
  color: #d434fe;
}
.introduction-img img {
  width: 490px;
  height: 477px;
}
.star {
  width: 21px;
  height: 25px;
}
.introduction-text p {
  max-width: 500px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 27.5px;
}

/* RULES SECTION */

.rules-section {
  /* padding: 100px 0 100px 0; */
  padding-inline: 20px;
  position: relative;
}
.purple-flare {
  width: 900px;
  height: 900px;
  object-fit: contain;
  z-index: -1;
  opacity: 0.4;
}

.rules-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.rules-img {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.rules-img img {
  width: 664px;
  height: 664px;
}
.rules-text {
  flex-basis: 50%;
  position: relative;
}
.rules-grey-star {
  position: absolute;
  right: 50%;
  z-index: 99;
  top: -20%;
}
.rules-white-star {
  position: absolute;
  bottom: -15%;
  right: 0;
}
.rules-text h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
  max-width: 300px;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.rules-text h1 span {
  color: #d434fe;
}
.rules-img img {
  width: 664px;
  height: 664px;
  object-fit: cover;
}
.rules-text p {
  max-width: 500px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 27.5px;
}
.rules-purple-flare-1 {
  position: absolute;
  top: -25%;
  left: 10%;
}
.rules-purple-flare-2 {
  position: absolute;
  bottom: -45%;
  right: -35%;
}

/* CRITERIA-SECTION */
.criteria-section {
  padding: 100px 0 100px 0;
  padding-inline: 20px;
}
.criteria-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.criteria-pink-star {
  position: absolute;
  top: 0;
  left: 10%;
  width: 27px;
  height: 33px;
}
.criteria-grey-star {
  position: absolute;
  bottom: 35%;
  right: 72%;
  width: 22px;
  height: 28px;
}
.criteria-white-star {
  position: absolute;
  bottom: 5%;
  right: 52%;
  width: 22px;
  height: 28px;
}
.criteria-flare-1 {
  position: absolute;
  bottom: -45%;
  left: -7%;
}
.criteria-flare-2 {
  position: absolute;
  bottom: -65%;
  right: -30%;
}
.criteria-img {
  flex-basis: 50%;
  object-fit: contain;
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.criteria-img img {
  object-fit: contain;
}
.criteria-text {
  flex-basis: 50%;
  align-items: flex-start;
}
.criteria-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 36px;
  max-width: 300px;
  text-transform: capitalize;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.criteria-heading h1 span {
  color: #d434fe;
}

.criteria-text-body {
  margin-top: 20px;
}
.criteria-text-body ul li {
  max-width: 600px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24.29px;
  margin-bottom: 30px;
}
.criteria-text-body ul li span {
  color: #d434fe;
  font-weight: 700;
  font-size: 16px;
}
.criteria-text-body a button {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 60px;
}
/* faq start */
.faq-section {
  padding-inline: 20px;
}
.faq-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.faq-white {
  position: absolute;
  width: 22px;
  height: 28px;
  bottom: 8%;
  right: 0;
}
.faq-img {
  flex-basis: 55%;
  display: flex;
  padding-top: 50px;
  overflow: visible;
}
.faq-img img {
  width: 731px;
  height: 731px;
  object-fit: contain;
}
.faq-text {
  flex-basis: 45%;
  padding-top: 100px;
}
.faq-heading {
  position: relative;
}
.faq-pink-star {
  position: relative;
  top: -8%;
  left: -5%;
  width: 22px;
  height: 28px;
}
.faq-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 32px;
  max-width: 300px;
  text-transform: capitalize;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}
.faq-heading h1 span {
  color: #d434fe;
}
.faq-heading p {
  max-width: 400px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 27.5px;
}
.faq-accordion {
  margin-top: 20px;
  position: relative;
}
.accordion-grey {
  position: absolute;
  top: 25%;
  width: 22px;
  height: 28px;
  right: -25%;
}
.accordion-pink {
  position: absolute;
  top: -21%;
  width: 22px;
  height: 28px;
  right: -38%;
}
.faq-accordion ul li {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  line-height: 27.5px;
  padding: 23px 0 15px 0;
  border-bottom: 1px solid rgba(212, 52, 254, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq-accordion ul li span {
  color: #d434fe;
  font-size: 20px;
}
/* timeline starts */
.timeline-section {
  padding: 100px 0 100px 0;
  padding-inline: 20px;
}
.timeline-container {
  position: relative;
}
.timeline-pink {
  position: absolute;
  top: 10%;
  left: 22%;
  width: 22px;
  height: 28px;
}
.timeline-grey {
  position: absolute;
  bottom: 5%;
  left: 12%;
  width: 22px;
  height: 28px;
}
.timeline-white {
  position: absolute;
  top: 45%;
  right: 12%;
  width: 22px;
  height: 28px;
}
.timeline-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeline-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 32px;
  max-width: 300px;
  text-transform: capitalize;
  line-height: 43.56px;
  color: #fff;
  margin-bottom: 20px;
}

.timeline-heading p {
  max-width: 350px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24.14px;
}
.timeline-content {
  max-width: 1200px;
  margin: 50px auto;
}
.timeline-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-top: 10px;
}
.timeline-text {
  margin-top: 50px;
}

.timeline-left {
  text-align: right;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.timeline-left p {
  text-align: right;
  max-width: 415px;
  margin-top: 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24.93px;
  color: #fff;
}
.timeline-right p {
  max-width: 420px;
  text-align: left;
  margin-top: 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24.93px;
  color: #fff;
}

.timeline-text h3 {
  color: #d434fe;
  font-size: 23px;
  line-height: 29.26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.timeline-right {
  text-align: left;
  flex-basis: 45%;
}
.timeline-number {
  width: 48px;
  height: 48px;
  border-radius: 26.5px;
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
  font-size: 24px;
  line-height: 29.26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.timeline-number-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-basis: 10%;
}
.phone {
  display: none;
}
.timeline-number-flex .line {
  border: 2px solid rgba(212, 52, 254, 1);
  height: 95px;
}
/* prize section starts */

.prize-section {
  padding: 100px 0 100px 0;
  padding-inline: 20px;
  background: rgba(16, 11, 32, 1);
}
.prize-container {
  position: relative;
}
.prize-flare-1 {
  position: absolute;
  z-index: 1;
  bottom: -25%;
  left: 10%;
}
.prize-flare-2 {
  position: absolute;
  z-index: 1;
  bottom: -45%;
  right: -40%;
}
.prize-pink {
  position: absolute;
  width: 22px;
  height: 28px;
  top: 5%;
  left: 30%;
}
.prize-white-2 {
  position: absolute;
  width: 22px;
  height: 28px;
  top: 55%;
  right: 0%;
}
.prize-grey {
  position: absolute;
  width: 22px;
  height: 28px;
  bottom: -5%;
  right: 20%;
}
.prize-white-1 {
  position: absolute;
  width: 22px;
  height: 28px;
  top: 35%;
  left: 50%;
}
.prize-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
}
.prize-text-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.empty-prize {
  flex-basis: 55%;
}
.prize-text-img img {
  width: 688px;
  height: 490px;
}
.prize-sub {
  flex-basis: 45%;
}
.prize-text-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 32px;
  max-width: 300px;
  line-height: 39.36px;
  color: #fff;
  margin-bottom: 20px;
}
.prize-text-heading h1 span {
  color: #d434fe;
}
.prize-text-heading p {
  font-size: 15px;
  line-height: 27.34px;
  color: white;
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* parters */
.partners-section {
  padding: 100px 0 100px 0;
  padding-inline: 20px;
}
.partners-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.partner-flare-1 {
  position: absolute;
  top: -35%;
  left: -30%;
}
.partner-pink-1 {
  position: absolute;
  width: 22px;
  height: 28px;
  top: 18%;
  left: 5%;
}
.partner-white {
  position: absolute;
  width: 22px;
  height: 28px;
  bottom: 7%;
  left: 58%;
}
.partner-pink-2 {
  position: absolute;
  width: 22px;
  height: 28px;
  top: 33%;
  left: 58%;
}
.partner-flare-2 {
  position: absolute;
  top: 25%;
  right: -45%;
}
.partners-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.grey-image {
  position: absolute;
  right: 30%;
  top: 0;
  width: 22px;
  height: 28px;
}

.partners-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 39.36px;
  color: #fff;
  margin-bottom: 15px;
}
.partners-heading p {
  font-size: 14px;
  line-height: 27.34px;
  color: white;
  max-width: 450px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.partners-img-box {
  margin-top: 50px;
  border: 1px solid rgba(212, 52, 254, 1);
  border-radius: 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 100px 20px;
}
/* privacy */
.privacy-section {
  padding: 100px 0 100px 0;
  padding-inline: 20px;
}
.privacy-container {
  max-width: 1200px;
  margin: 0 auto;
}
.privacy-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
  position: relative;
}
.grey-star {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 22px;
  height: 28px;
}
.white-star {
  position: absolute;
  right: 33%;
  bottom: 26%;
  width: 14px;
  height: 20px;
}
.privacy-text {
  flex-basis: 50%;
  position: relative;
}
.pink-image-1 {
  position: absolute;
  right: 0%;
  top: 15%;
  width: 22px;
  height: 28px;
}
.pink-image-2 {
  position: absolute;
  /* bottom: -40%; */
  bottom: 15%;
  left: -10%;
  width: 22px;
  height: 28px;
}
.privacy-flare {
  position: absolute;
  bottom: -40%;
  left: -35%;
}
.privacy-img {
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: flex-end;
  flex-basis: 50%;
  background-image: url("../images/Vector\ \(5\).png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: top right;
}
.privacy-img img {
  width: 499px;
  height: 689px;
  object-fit: contain;
  margin-top: 150px;
  margin-right: 30px;
}
.close-btn-div {
  display: none;
}
.privacy-text-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 39.36px;
  max-width: 300px;
  color: #fff;
  margin-bottom: 15px;
}
.privacy-text-heading h1 span {
  color: #d434fe;
}
.privacy-text-heading p {
  font-size: 14px;
  line-height: 27.5px;
  color: rgba(255, 255, 255, 0.75);
  max-width: 258px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.privacy-text-heading h6 {
  font-size: 14px;
  line-height: 26.38px;
  max-width: 438px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-block: 20px;
}
.privacy-text-box {
  margin-top: 50px;
  /* padding: 50px 40px 50px 40px;
   */
  padding: 50px;
  border: 1px solid rgba(212, 52, 254, 1);
  border-radius: 5px;
}
.upper-text p {
  line-height: 30.3px;
  max-width: 425px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.lower-text {
  margin-top: 20px;
}
.lower-text-heading h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #d434fe;
  margin-bottom: 10px;
}
.lower-text-heading p {
  line-height: 30.3px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.lower-text-list {
  margin-top: 20px;
}
.lower-text-list ul li {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 30.3px;
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 450px;
}
.lower-text-list ul li span img {
  margin-top: 10px;
}
.privacy-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacy-button a button {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}
/* footer */

footer {
  background: rgba(16, 11, 32, 1);
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 75px 0 75px 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
  gap: 20px;
}
.about-company {
  grid-column: span 6;
  position: relative;
}
.footer-white-1 {
  position: absolute;
  width: 18px;
  height: 24px;
  left: -10%;
  top: 15%;
}
.footer-pink {
  position: absolute;
  right: 5%;
  width: 10px;
  height: 16px;
  bottom: 0;
}
.about-company h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}
.about-company h1 span {
  color: #d434fe;
}
.about-company p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  max-width: 450px;
  line-height: 24.69px;
  font-size: 13px;
}
.about-flex {
  display: flex;
  margin-top: 60px;
  align-items: center;
  gap: 10px;
}
.about-flex-border {
  border-right: 3px solid #d434fe;
  height: 20px;
}
.company-links {
  grid-column: span 3;
}
.similar h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-block: 15px;
  color: #d434fe;
}
.company-links ul {
  line-height: 2.6;
}
.similar ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.company-links ul li:last-child {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-icons-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-icons-flex img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.contact-us {
  grid-column: span 3;
  position: relative;
}
.footer-white-2 {
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 18px;
  height: 24px;
}
.contact-us ul {
  line-height: 2.4;
}
.contact-us ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  /* max-width: 200px; */
}
.footer-last-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}
.footer-last-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: white;
}
.contact-section {
  padding: 100px 0 100px 0;
  color: white;
}
.contact-container {
  max-width: 1100px;
  margin: 0 auto;
}
.contact-flex {
  display: flex;
}
.contact-text {
  flex-basis: 50%;
  margin-top: 50px;
}
.contact-text h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #d434fe;
}
.contact-text h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 30px;
  max-width: 130px;
  line-height: 1.8;
}
.contact-icons-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-icons-flex img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.contact-form input {
  width: 100%;
  height: 43px;
  padding-inline: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 30px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
.contact-form textarea {
  width: 100%;
  resize: none;
  padding-inline: 15px;
  padding-block: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 30px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
.form-btn {
  text-align: center;
}
.form-btn a button {
  margin-top: 20px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 172px;
  height: 53px;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.contact-form-box {
  flex-basis: 50%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding-inline: 60px;
}
.desktop-none {
  display: none;
}
.contact-form-heading h1 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 1.4rem;
  max-width: 350px;
  margin-bottom: 30px;
  color: #d434fe;
}
.register-section {
  padding: 100px 0 100px 0;
}
.register-container {
  max-width: 1200px;
  margin: 0 auto;
}
.register-flex {
  display: flex;
}
.register-img {
  flex-basis: 45%;
}
.register-form-box {
  flex-basis: 55%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding-inline: 60px;
}
.register-row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.input {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.register-row input {
  width: 100%;
  height: 42px;
  padding-inline: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}
.register-row select {
  width: 100%;
  color: white;
  margin-top: 10px;
  height: 42px;
  padding-inline: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
.register-row select option {
  background-color: black;
}
.register-form p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 25px;
  font-size: 0.7rem;
  color: #d434fe;
  font-style: italic;
}
.agree-flex {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.agree-flex p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: white;
  font-style: normal;
  margin-top: 0;
}

.register-form-heading h2 {
  font-family: "ClashDisplay-Bold";
  font-weight: 700;
  font-size: 1.4rem;
  max-width: 350px;
  margin-bottom: 10px;
  color: #d434fe;
}
.register-form {
  margin-top: 20px;
}
.register-form-heading h1 {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.15rem;
  color: white;
}
.input label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 0.8rem;
}
.input input {
  margin-top: 10px;
}
.register-form-btn {
  width: 100%;
  text-align: center;
}
.nav-active {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  color: transparent;
}
.register-form-btn a button {
  margin-top: 20px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 100%;
  height: 53px;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.modal-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 40px;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
}
.modal {
  transform: scale(0);
  transition: all ease-in-out 0.35s;
}

.modal.visible {
  transform: scale(1);
}
.modal-box {
  border: 1px solid rgba(212, 52, 254, 1);
  border-radius: 5px;
  padding-block: 20px;
  padding-bottom: 45px;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-box img {
  width: 305px;
  height: 305px;
  object-fit: contain;
}

.modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 39.01px;
  font-weight: 600;
  color: white;
  /* max-width: 400px; */
}
.modal-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 17.07px;
  font-weight: 400;
  color: white;
  max-width: 250px;
  margin-top: 10px;
}
.modal-btn {
  width: 100%;
}
.modal-btn a button {
  margin-top: 20px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  width: 100%;
  height: 53px;
  border-radius: 4px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
@media only screen and (max-width: 1260px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .mobile-none-star {
    display: none;
  }
  .purple-flare {
    display: none;
  }
  .nav-container {
    padding-inline: 40px;
    margin: 26px 0 21px 0;
    position: relative;
    z-index: 999;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  nav .logo h1 {
    font-size: 17px;
    line-height: 18.45px;
    font-weight: 700;
  }
  .mobile-nav-show {
    display: none;
    align-items: normal;
  }
  .show-burger {
    display: flex;
    width: 19px;
    height: 14px;
    cursor: pointer;
  }
  .mobile-nav-show {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: fixed;
    left: -1000px;
    transition: all 0, 3s;
    padding: 40px 40px 0 40px;
    top: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    background-color: #150e28;
    overflow-y: hidden;
  }

  nav .nav-links ul {
    flex-direction: column;
    padding-bottom: 30px;
    gap: 25px;
  }
  .close-btn-div {
    display: flex;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .close-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(212, 52, 254, 1);

    background-size: contain;
  }

  nav .nav-links ul li a {
    padding: 0;
  }
  .active {
    left: 0;
    transition: all ease-in-out 0.35s;
  }
  .right-text {
    position: relative;
    z-index: 99;
    text-align: center;
    font-size: 16px;
  }
  .hero-section {
    padding: 0 0 0 0;
    padding-inline: 30px;
  }
  .hero-section-grid {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    gap: 30px;
  }
  .hero-section-text h1 {
    font-size: 1.75rem;
    max-width: 100%;
    margin: 0 auto;
    line-height: 21.58px;
    line-height: 42.36px;
    text-align: center;
  }

  .hero-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobile-none {
    display: none;
  }
  .mobile-hero-section-img {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .mobile-hero-section-img img {
    object-fit: contain;
  }
  .mobile-star {
    width: 12px;
    height: 18px;
    object-fit: contain;
  }
  .hero-section-text p {
    font-size: 13px;
    max-width: 80%;
    text-align: center;
    margin: 10px auto;
    line-height: 21.58px;
    margin-bottom: 25px;
  }
  .count-down-text {
    margin-top: 10px;
  }
  .creative {
    top: -20px;
    right: 0;
  }
  .vector-2 {
    width: 18px;
    height: 26px;
    object-fit: cover;
  }
  .mobile-increase {
    font-size: 32px;
    align-items: center;
    display: flex;
    gap: 5px;
  }
  .relative-chain {
    display: flex;
    gap: 5px;
  }

  .light-up-img {
    z-index: -1;
  }
  .right-text h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
  }
  .small-mobile-icons {
    width: 24.12px;
    height: 22.12px;
  }
  .chain-spark {
    position: static;
    right: -50px;
  }

  .center {
    border: 2px solid;
    align-items: center;
    font-size: 38px;
  }
  .introduction-flex {
    flex-wrap: wrap;
  }
  .introduction-section {
    padding: 50px 0 50px 0;
    padding-inline: 30px;
  }
  .introduction-img {
    flex-basis: 100%;
  }
  .introduction-text {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introduction-text h1 {
    max-width: 300px;
    font-size: 20px;

    line-height: 26.6px;
  }
  .introduction-text p {
    max-width: 100%;
  }
  .introduction-flex {
    flex-wrap: wrap;
  }
  .introduction-img {
    flex-basis: 100%;
  }
  .introduction-text {
    flex-basis: 100%;
  }
  .introduction-img img {
    width: 264px;
    height: 257px;
    object-fit: cover;
  }

  .introduction-flex {
    flex-wrap: wrap;
  }
  .rules-section {
    padding: 50px 0 50px 0;
    padding-inline: 30px;
  }
  .rules-img img {
    width: 314px;
    height: 382px;
  }
  .rules-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .rules-flex {
    flex-wrap: wrap-reverse;
    gap: 0;
    margin: 0;
  }
  .rules-text h1 {
    font-size: 20px;
    line-height: 26.6px;
    max-width: 200px;
  }
  .rules-img {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .rules-text {
    flex-basis: 100%;
  }
  .rules-text p {
    max-width: 100%;
  }
  .criteria-section {
    padding: 50px 0 50px 0;
    padding-inline: 30px;
  }
  .criteria-img img {
    width: 332px;
    height: 275px;
  }
  .criteria-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .criteria-flex {
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
  }
  .criteria-heading h1 {
    font-size: 20px;
    line-height: 26.6px;
    max-width: 200px;
  }
  .criteria-img {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .criteria-text-body {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .criteria-text-body ul li span {
    font-size: 0.82rem;
  }
  .criteria-text-body ul li {
    font-size: 0.8rem;
    line-height: 22.82px;
    max-width: 100%;
  }
  .rules-text {
    flex-basis: 100%;
  }
  .criteria-text-body a button {
    margin-top: 0;
  }
  .faq-img {
    padding: 0;
  }
  .faq-section {
    padding: 50px 0 50px 0;
    padding-inline: 30px;
  }
  .faq-accordion {
    max-width: 100%;
  }
  .faq-text {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .faq-flex {
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
  }
  .faq-text h1 {
    font-size: 20px;
    line-height: 26.6px;
    max-width: 200px;
  }
  .faq-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .faq-heading p {
    font-size: 12px;
    line-height: 27.5px;
  }
  .faq-img {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .faq-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-basis: 100%;
  }
  .faq-accordion {
    width: 100%;
  }
  .faq-accordion ul li {
    font-size: 0.8rem;
    gap: 10px;
    display: flex;
    text-align: normal;
    align-items: flex-start;
    line-height: 23.55px;
  }
  .faq-img {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .faq-img img {
    width: 397px;
    height: 397px;
  }
  .faq-accordion {
    max-width: 100%;
  }

  .rules-text {
    flex-basis: 100%;
  }
  .criteria-text-body a button {
    margin-top: 0;
  }
  .timeline-flex {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .timeline-heading h1 {
    font-size: 20px;
    margin: 0;
  }
  .timeline-heading p {
    font-size: 14px;
    line-height: 24.14px;
    max-width: 300px;
  }
  .timeline-section {
    padding: 75px 0 75px 0;
    padding-inline: 20px;
  }
  .timeline-content {
    margin: 0 auto;
  }
  .phone {
    flex-direction: row;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .phone .timeline-number-flex {
    flex-basis: 10%;
  }

  .phone .timeline-text {
    margin-top: 0;
    width: auto;
    max-width: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .phone .timeline-left,
  .timeline-right {
    margin-top: 0;
    text-align: center;
  }
  .timeline-number-flex .line {
    height: 80px;
  }
  .timeline-left p,
  .timeline-right p {
    text-align: none;
    max-width: none;
    text-align: left;
    font-size: 13px;
    margin-block: 10px;
    line-height: 20.51px;
  }
  .phone-sub {
    flex-basis: 90%;
  }
  .timeline-number {
    width: 21.32px;
    height: 21.32px;
    font-size: 12px;
  }
  .timeline-left h3,
  .timeline-right h3 {
    font-size: 13px;
    line-height: 14.63px;
    margin: 0;
    text-align: left;
  }
  .desktop {
    display: none;
  }
  .footer-container {
    padding-inline: 50px;
  }
  .about-company h1 {
    font-size: 20px;
  }
  .about-company p {
    /* font-size: 12px; */
    line-height: 22.69px;
    max-width: 370px;
  }
  .about-flex {
    margin-top: 40px;
  }
  .about-company,
  .company-links,
  .contact-us {
    grid-column: span 12;
  }
  .contact-us ul li {
    max-width: 250px;
  }
  .prize-text-heading,
  .prize-flex {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .prize-sub {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prize-sub,
  .prize-img,
  .prize-text {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
  }
  .prize-sub h1 {
    font-size: 20px;
    line-height: 24.6px;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .prize-sub p {
    font-size: 0.8rem;
    max-width: 100%;
    line-height: 20.51px;
  }
  .prize-text-img,
  .prize-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prize-flex {
    margin-top: 50px;
    gap: 50px;
  }
  .prize-text-img img {
    width: 351px;
    height: 282px;
    object-fit: contain;
  }
  .prize-img img {
    width: 321px;
    height: 282px;
  }
  .partners-section {
    padding: 50px 0 100px 0;
    padding-inline: 25px;
  }
  .partners-img-box {
    padding: 40px 20px 40px 20px;
  }
  .partners-heading h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .partners-heading p {
    font-size: 0.8rem;
    line-height: 20.5px;
    max-width: 100%;
  }
  .privacy-section {
    padding-block: 75px;
    padding-inline: 40px;
    padding-bottom: 0;
  }
  .privacy-flex {
    gap: 20px;
  }
  .privacy-text-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .privacy-img {
    background-position: top;
    background-size: contain;
    margin: 15px;
    align-items: center;
    justify-content: center;
  }
  .privacy-img img {
    margin: 0;
  }
  .privacy-text-heading h1 {
    font-size: 20px;
    max-width: 50%;
    line-height: 24.6px;
  }
  .privacy-text-heading p {
    font-size: 0.8rem;
    line-height: 27.5px;
  }
  .privacy-text-heading h6 {
    max-width: 100%;
    font-size: 0.8rem;
    line-height: 22.61px;
  }
  .privacy-text-box {
    margin-top: 25px;
    padding: 40px 20px 40px 20px;
  }
  .upper-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upper-text p {
    font-size: 13px;
    max-width: 100%;
    line-height: 29.97px;
    font-weight: 400;
  }
  .lower-text {
    display: flex;
    flex-direction: column;
  }
  .lower-text-heading {
    align-items: flex-start;
  }
  .lower-text-heading h3 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .lower-text-heading p {
    font-size: 0.8rem;
  }
  .lower-text a button {
    width: 99.35px;
    height: 33.35px;
    font-size: 12px;
  }
  .lower-text-list {
    margin-top: 10px;
  }
  .lower-text-list ul li {
    font-size: 0.75rem;
    line-height: 21.11px;
    max-width: 100%;
  }
  .lower-text-list ul li span img {
    width: 17px;
    height: 17px;
    object-fit: contain;
    margin-top: 0;
  }
  .privacy-flex {
    flex-wrap: wrap;
  }
  .privacy-text {
    flex-basis: 100%;
  }
  .privacy-img {
    flex-basis: 100%;
  }
  .contact-flex {
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-section {
    padding-inline: 20px;
    padding-block: 0px;
  }
  .contact-text {
    display: none;
  }
  .contact-form-box {
    flex-basis: 100%;
    border: none;
    background: none;
    padding-inline: 30px;
  }
  .contact-form-heading h1 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .desktop-none {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
    margin-bottom: 20px;
  }
  .contact-form input {
    margin-bottom: 20px;
  }
  .register-flex {
    flex-wrap: wrap;
    gap: 0;
  }
  .register-section {
    padding: 0;
  }
  .register-img {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-img img {
    width: 285px;
    height: 285px;
  }
  .register-form-box {
    flex-basis: 100%;
    padding-top: 0;
    border: none;
    background: none;
    margin-top: 0;
  }
  .register-row {
    flex-wrap: wrap;
  }
  .register-row .input {
    flex-basis: 100%;
  }
}
